@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/font-awesome/scss/font-awesome"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
a
	text-decoration: none
	color: #111
	&:hover, &:focus
		color: #111
		text-decoration: none
	

.hidden
	display: none

.highlight
	color: red




h1,h2,h3,h4,h5,h6
	font-family: "RobotoCondensedRegular", sans-serif
	font-weight: normal

.top-nav
	position: relative
	border-bottom: 7px solid $main-color
	&:before
		content: ''
		background-color: lighten($main-color, 13%)
		position: absolute
		width: 100%
		height: 10px
		bottom: 0px
		left: 0
		
	.lent	
		padding: 0 45px 10px 45px
		.lent-ul-first
			padding: 0
			margin: 0
			li
				font-family: "RobotoCondensedBold"
				list-style-type: none
				display: inline-block
				margin-right: 3px
				margin-top: 2px
				border: 2px solid transparent
				border-radius: 2px 2px 0px 0px
				transition: all ease .2s
				&:hover
					cursor: pointer
					text-decoration: none
					background-color: lighten($main-color, 13%)
					a
						color: #fff
				a
					display: block
					padding: 3px 8px
					color: #333

			li.active
				position: relative
				background-color: $main-color
				&:after
					content: ''
					position: absolute
					bottom: -12px
					left: 5px
					width: 108%
					height: 10px
					background-color: lighten($main-color, 3%)
					transform: skew(55deg)
				a
					color: #fff
				&:hover
					border-color: transparent
			
	.select-params
		user-select: none
		padding-top: 95px
		.check-box
			transition: all ease .2s
			border: 1px solid #bbb
			padding: 2px 5px
			margin-bottom: 3px
			width: 100px
			border-radius: 5px
			display: inline-block
			margin-right: 15px
			&:hover
				cursor: pointer
				border: 1px solid $main-color
				.checker
					&:hover
					cursor: pointer
					&.film-checker
						border-color: lighten(#FF8135, 12%)
					&.serial-checker
						border-color: lighten(#FA6B8A, 12%)
					&.sport-checker
						border-color: lighten(#CA56FF, 13%)
			&.highlighted
				background-color: lighten($main-color, 32%)
				border: 1px solid $main-color
				.checker
						&.film-checker
							background-color: lighten(#FF8135, 12%)
							border: none
						&.serial-checker
							background-color: lighten(#FA6B8A, 12%)
							border: none
						&.sport-checker
							background-color: lighten(#CA56FF, 13%)
							border: none
		.checker
			transition: all ease .2s
			position: relative
			margin-right: 5px
			display: inline-block
			border: 4px solid #bbb
			border-radius: 50%
			top: 4px
			width: 20px
			height: 20px
			
			
				
					

.programs-grid
	margin-top: 36px
	.channel
		margin-bottom: 40px
		.channel-dscr
			.channel-logo
				display: inline-block					
			h3
				display: inline-block
				font-family: "RobotoCondensedBold", sans-serif
				font-size: em(23px)
				margin: 0
				margin-left: 10px
				position: relative
				top: 4px
		.channel-list
			padding: 0
			margin: 0
			margin-top: 8px
			li
				position: relative
				transition: all ease .2s
				list-style-type: none	
				a
					transition: all ease .2s
				&.h-light-film
					color: #FF8135
					.start-program
						background-color: #d9f2ff
					a
						color: #FF8135
				&.h-light-serial
					.start-program
						background-color: #d9f2ff
					color: #FA6B8A
					a
						color: #FA6B8A
				&.h-light-sport
					.start-program
						background-color: #d9f2ff
					color: #CA56FF
					a
						color: #CA56FF
				&.opacitied
					color: green

				&:hover
					cursor: pointer
					color: lighten(red, 10%)
					a
						color: lighten(red, 10%)
					.popup
						display: block
				.popup
					color: #111
					transition: all ease .5s
					opacity: 0
					position: absolute
					background-color: #fff
					left: 70%
					top: -10%
					z-index: 1
					width: 260px
					box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
					
					img
						width: 260px
					.dscr-wrapper
						padding: 0px 10px
						h3
							color: lighten(red, 10%)
							line-height: 1.3
							margin: 
								top: 10px
								bottom: 10px
							font-size: em(18px)
						p
							margin: 0
							font-size: em(13px)
							margin-bottom: 10px
				.start-program
					font-family: "RobotoCondensedBold", sans-serif
					position: absolute
				.start-program.highlight 
					color: blue
				.program-dscr
					position: relative
					margin-left: 45px
					display: inline-block
					.fa
						margin-left: 8px
					&:hover
						transition: all ease .5s	
						

//ALWAYS END
@import "media"
